html, body, p, div, nav, header, footer, h1, h2, h3, h4, h5, h6, span, input, button, img {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

input, button {
    all: unset;
}

a {
    text-decoration: none;
    color: yellow;
}

.yellowPlaceholder::placeholder {
    color: yellowgreen;
    opacity: 1;
}