body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#lobby {
    color: yellow;
}

#lobbyUI {
    height: 100%;
    width: 100%;
    animation: dynamicBackground 10s infinite;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    transition: 0.3s;
}

#lobbyInfo {
    overflow: auto;
    z-index: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 2%;
    left: 2%;
    right: 75%;
    bottom: 50%;
    color: yellowgreen;
    padding: 25px;
    border: 5px double turquoise;
    border-radius: 20px;
    font-size: 15px;
    animation: dynamicBackground 3s infinite;
}

.lobbyInfoSubTitle {
    padding-top: 5px;
    padding-bottom: 5px;
}

.lobbyLink {
    padding: 5px;
    font-size: 13px;
    color: yellow;
    transition: 0.5s;
}

.lobbyLink:hover {
    opacity: 0.5;
}

.lobbyPopup {
    z-index: 55;
    position: absolute;
    top: 3%;
    bottom: 3%;
    right: 3vh;
    width: 40%;
    max-width: 700px;
    border-radius: 5px;
    background: radial-gradient(circle, rgb(32, 128, 83) 0%, rgb(8, 112, 95) 100%);
    backdrop-filter: blur(10px);
    overflow-y: auto;
}

.lobbyPopupTitle {
    font-size: 40px;
    background-color: rgb(18, 73, 87);
    left: 0;
    right: 0;
    border-radius: 5px;
    padding: 15px;
}

.lobbyPopupElement {
    padding: 20px;
}

.changelogTitle {
    word-wrap: break-word;
    font-size: 25px;
}

.changelogDescription {
    word-wrap: break-word;
    font-size: 15px;
}

#lobbyMatchDataInputBox {
    overflow: auto;
    z-index: 50;
    position: absolute;
    display: flex;
    top: 20%;
    bottom: 50%;
    left: 30%;
    right: 35%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border: 5px double turquoise;
    border-radius: 20px;
    font-size: 20px;
    background: linear-gradient(90deg, rgba(133, 149, 46, 1) 0%, rgba(62, 136, 42, 1) 50%, rgba(20, 142, 157, 1) 100%);
}

#playerNameInput {
    text-align: center;
    transition: 1s;
    border: 5px double turquoise;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    background: linear-gradient(90deg, rgba(133, 149, 46, 1) 0%, rgba(62, 136, 42, 1) 50%, rgba(20, 142, 157, 1) 100%);
}

#selectMatch {
    color: yellow;
    border: 5px double turquoise;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    background: linear-gradient(90deg, rgba(133, 149, 46, 1) 0%, rgba(62, 136, 42, 1) 50%, rgba(20, 142, 157, 1) 100%);
}

.selectMatchOption {
    background-color: rgba(133, 149, 46, 1);
    font-size: 15px;
    color: yellowgreen;
}

#startGameButton {
    text-align: center;
    transition: 1s;
    border: 5px double turquoise;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    background: linear-gradient(90deg, rgba(133, 149, 46, 1) 0%, rgba(62, 136, 42, 1) 50%, rgba(20, 142, 157, 1) 100%);
}

#startGameButton:hover {
    color: yellowgreen;
    transform: scale(1.1) skew(10deg, 5deg);
}

#lobbyTypeWriterContainer {
    position: absolute;
    top: 10%;
    bottom: 85%;
    left: 30%;
    right: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    max-width: 35%;
}

#lobbyTypeWriter {
    animation: appear 12s/* this number must be same one as in typewriter.js for dynamic innerHTML update */
    steps(30, end) infinite, caret 0.75s infinite;
    font-size: 20px;
    height: 25px;
    white-space: nowrap;
    border-right: 3px solid;
    overflow: hidden;
    margin: 0 auto;
}

#lobbyDarkOverlay {
    z-index: 49;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    filter: opacity(0.5);
}

@keyframes appear {
    0% {
        width: 0%;
    }
    40% {
        width: 100%;
    }
    60% {
        width: 100%;
    }
    90% {
        width: 0%;
    }
    100% {
        width: 0%;
    }
}

@keyframes caret {
    0% {
        border-color: transparent;
    }
    100% {
        border-color: gainsboro;
    }
}

@keyframes dynamicBackground {
    0% {
        background: radial-gradient(circle, rgba(25, 169, 146, 1) 0%, rgba(37, 112, 8, 1) 100%);
        filter: brightness(90%);
    }
    50% {
        background: radial-gradient(circle, rgba(25, 169, 146, 1) 0%, rgba(37, 112, 8, 1) 100%);
        filter: brightness(110%);
    }
    100% {
        background: radial-gradient(circle, rgba(25, 169, 146, 1) 0%, rgba(37, 112, 8, 1) 100%);
        filter: brightness(90%);
    }
}